#app-detail {
	width:100%;
	height:100%;
	background:@ice-white;
	position:relative;
	top:-100%;
	left:100%;
	overflow:hidden;
	overflow-y:auto;

	.block{
		width:100%;
		position: relative;
		background: @aluminum-gray;

		&:first-child {
			padding-top:1%;
		}
	}

	.grid-block {

		ul{
			margin:0;
			padding:1%;
			padding-top:0%;
		}

		li {
			list-style-type:none;
			padding:0 0 1% 0;
			margin:0;
			width:100%;

			&.double .sec {
				width:100%;
			}

			&.single .sec {
				width:50%;

				&:first-child {
					padding-right:0.5%;
				}

				&:nth-last-of-type(2) {
					padding-left:0.5%;
				}

				&.big {
					width:60%;
				}

				&.small {
					width:40%;
				}
			}

			&.thumbnail .sec {
				width:33.333%;
				padding-right:1%;

				&:nth-last-of-type(2) {
					padding-right:0;
				}
			}

			.sec {
				height:150px;
				float: left;
			}

			.int-grid-container {
				width:100%;
				height:100%;
				background:magenta;
			}

			&:last-child {
				padding-bottom:0;
			}

		}
	}

	.powerpoint {
		height:350px;
	}


}

#static{
	height:100%;
	width:100%;
	left:0;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); 
	position: absolute;

	img{
		width: 100%;
	}
	
}