#apps {
	width:100%;
	height:100%;
	overflow:hidden;
	background:@charcoal;

	.apps-container{
		height:100%;
		width:40%;
		max-width:333px;
		padding:0;
		margin:0;
		position: relative;
		float: left;
		border-right:1px solid @sapient-heat;
	}


	.table{
		width:100%;
		position:absolute;

		.tr{
			height:100px;
		}

		.td65{
			width: 65%;
		}
		.tdOther{
			text-align:center;
			overflow:hidden;
		}
	}

	.loading-anim {
		width:100%;
		height:100%;
		background:transparent;
		opacity:1;
		position:absolute;
		top:0;

		table {
			width:100%;
			height:100%;

			.loading-node {
				width:50px;
				height:50px;
				border-radius:50%;
				border:2px solid @ice-white;
				border-left-color:transparent;
				border-bottom-color:transparent;
				margin:0 auto;
			}
		}

		.load-bar {
			width:100%;
			height:2px;
			position:relative;
			left:-100%;
			background:@sapient-heat;
		}

		&.hidden {
			display:none;
		}
	}

	.apps-container ul {
		width:100%;
		max-width:333px;
		height:100%;
		padding:0;
		margin:0;
		overflow:hidden;
		overflow-y:auto;
		position: relative;
		top:-100%; // 0
		float: left;
		

		li {
			width:100%;
			height:22%;
			max-height:150px;
			padding:0;
			margin:0;
			list-style-type:none;
			background:@ice-white;
			position:relative;
			top:0;
			.transition(all 300ms ease);

			&:nth-of-type(3n-2){
				background:@shade-3;
			}

			&:nth-of-type(3n-1){
				background:@shade-6;
			}

			&:nth-of-type(3n){
				background:@shade-9;
			}

			&:hover {
				background:@ice-white;
				width:90%;
			}

			&.active {
				z-index:100;
				opacity:1 !important;

				&:nth-of-type(3n-2){
					background:@shade-3;
				}

				&:nth-of-type(3n-1){
					background:@shade-6;
				}

				&:nth-of-type(3n){
					background:@shade-9;
				}

				&:hover {
					width:100%;
				}

				&.load-state {
					background:@ice-white;
					width:90%;
				}
			}
		}

		.icon {
			width:33.333%;
			height:100%;
			float: left;

			img {
				width:50px;
				height:50px;
				background:@charcoal;
			}

			td {
				text-align:center;
			}
		}

		.title {
			width:66.666%;
			height:100%;
			float: left;

			td {
				text-align: left;
			}

			h2 {
				margin:0;
				font-size:35px;
				color:@charcoal;
			}
		}

		.load-bar {
			position:relative;
			left:102%;
			height:100%;
			width:20%;
			background:@sapient-heat;
		}

		table {
			width:100%;
			height:100%;

			td {
				width:100%;
				height:100%;
			}
		}

		&.sticky {
			overflow:hidden;
		}

		&.height-extra {
			height:120%;
		}

	}

	.back {
		width:100%;
		position:relative;
		top: 55%;
		opacity:1;
		left:-100%;

		.back-text {
			width: 100%;
			font-size: 35px;
			margin:0;
			color: @ice-white;
			overflow: hidden;
		}

		.load-bar {
			width:2px;
			height:0px; // 100px
			position:relative;
			left:25px;
			background:@ice-white;
		}

		.button-container {
			width:100%;
			background:@electric-blue;
			position:relative;
		}

		.button {
			width:50px;
			height:50px;
			position:relative;
			opacity:0; // 1

			border-radius:50%;
			border:2px solid @ice-white;
			border-bottom-color:transparent;
			border-left-color:transparent;
			
			color:@charcoal;

			.icon {
				font-size:40px;
				margin:0 auto;
				position:relative;
				left:-2px;
				top:5px;
			}
		}

		.notification-block {
			width:100px;
			height:100%;
			color:@ice-white;
			background:green;
			position:absolute;
		}

		&.reveal {
			left:0;
		}
	}
	// .description {
	// 	width: 60%;
	// 	height: 100%;
	// 	float: left;
	// 	opacity: 0;

	// 	.inside {
	// 		width: 90%;
	// 		height: 75%;
	// 		margin-left: 5%;
	// 		margin-top: 18.75%;
	// 		background: @ice-white;

	// 		.triangle {
	// 			width: 0;
	// 			height: 0;
	// 			border-style: solid;
	// 			border-width: 200px 100px 0 0;
	// 			border-color: @sapient-heat transparent transparent transparent;
	// 			line-height: 0px;
	// 			_border-color: #000000 #000000 @sapient-heat #000000;
	// 			_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	// 		}
	// 	}
	// }

	.node-tree {
		width:60%;
		height:100%;
		float: left;
		border-left:1px solid @sapient-heat;

		.description-box{
			font-family: sapientSansL;
			float:left;
			position: fixed;
			background: none;
			height:100px;
			width: 200px;
			right:0;
			z-index: -50;
			opacity:0;
			padding: 3%;
			color: @aluminum-gray;
			.transition(all 300ms ease);

			&.display-info {
				opacity:1;
				z-index: 50;
			}
		}

		.devices-box{
			background: none;
			width:100px;
			height: 100px;
			position: fixed;
			right:0;
			z-index: -50;
			bottom:0;
			opacity:0;
			.transition(all 300ms ease);

			&.display-info {
				opacity:1;
				z-index: 50;
			}

			ul{
				list-style-type: none;
				height:100%;
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;

				li{
					height: 100%;
					padding: inherit;
					margin: inherit;
					width:25%;
					float: left;

				}
			}
			
			img{
				height:55%;
				position: relative;
				max-width: 100%;
			}
			.ipad img{
				height:75%;
			}
			.kiosk img{
				height:90%;
			}
		}

		.root {
			width:33.333%;
			height:100%;
			overflow:hidden;
			float: left;

			table {
				width:100%;
				height:100%;
				border-collapse: collapse;
				border-spacing: 0;
				float:left;

				.stem {
					width:102%;
					height:2px;
					background:@sapient-heat;
					position:relative;
					left:-1px;
				}
			}

		}
	
		.branch-container{
			width:66.666%;
			height:100%;
			float: left;

			.branch{
				width:100%;
				float: left;

				.vertical-stem {
					width:100%;
					height:33.333%;

					&.above {
						td {
							vertical-align:bottom;
						}
					}

					&.below {
						td {
							vertical-align:top;
						}
					}

					table {
						width:50px;
						height:100%;
						border-collapse: collapse;
						border-spacing: 0;
					}

					.stem {
						height:102%;
						width:2px;
						background:@sapient-heat;
						margin:0 auto;
						margin-top:-1px;
					}
				}
			}

			.fruit{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border:2px solid @sapient-heat;
				float: left;
			}

			.bulk {
				width:100%;
				height:66.666%;

				.node-container {
					width:100%;
					height:30px;

					.container {
						width:50px;
						height:100%;
					}

					.node {
						width:30px;
						height:30px;
						border-radius:50%;
						border:2px solid @sapient-heat;
						margin:0 auto;
					}

					.node-center {
						width:1px;
						height:1px;
						background:@ice-white;
						position:relative;
					}
				}

				.content-container {
					width:100%;
					height:100%;
					position:relative;
				}
			}

			ul.app-store {
				padding:0;
				margin:0;
				width:100%;
				height:100%;
				position:relative;
				top:-100%;

				li {
					width:33.333%;
					height:100%;
					padding:0;
					list-style-type:none;
					float: left;
					position:relative;

					&:nth-of-type(3n-2){ 
						top:100%;
						left:7%;
					}

					&:nth-of-type(3n-1){ 
						left:26.333%;
						top:-10%;
					}

					&:nth-of-type(3n){ 
						top:80%;
						left:-23%;
					}
				}

				table {
					width:100%;
					height:100%;
				}

				.app-store-link {
					width:100px;
					height:100px;
					background:magenta;
					margin:0 auto;
				}
			}

			.app-summary {
				width:80%;
				margin:0% 10%;
				padding-top:10%;
				height:80%;

				.load-container {
					background:magenta;
					width:100%;
					height:100%;
				}
			}
		}
	}

}




/*Landscape Mode*/

@media screen and (max-device-width: 480px) 
{ 

	#apps {
		.apps-container {
			width:100%;
			border-right:none;
		}

		li {
			max-height:125px !important;
		}

		.node-tree {
			display:none;
		}
	}

}
/* Portrait Mode */

@media screen and (max-device-width: 320px) 
{ 

}