#apps {
	width:100%;
	height:100%;
	overflow:hidden;
	background:@charcoal;

	.apps-container {
		height:100%;
		width:40%;
		max-width:333px;
		padding:0;
		margin:0;
		position: relative;
		float: left;
		border-right:2px solid @sapient-heat;
		z-index:10;
	}

	.table{
		width:100%;
		position:absolute;

		.tr{
			height:100px;
		}

		.td65{
			width: 65%;
		}
		.tdOther{
			text-align:center;
			overflow:hidden;
		}
	}

	.loading-anim {
		width:100%;
		height:100%;
		background:@charcoal;
		opacity:1;
		position:absolute;
		z-index:10;
		top:0;

		table {
			width:100%;
			height:100%;

			.loading-node {
				width:50px;
				height:50px;
				border-radius:50%;
				border:2px solid @ice-white;
				border-left-color:transparent;
				border-bottom-color:transparent;
				margin:0 auto;
			}
		}

		.load-bar {
			width:100%;
			height:2px;
			position:relative;
			left:-100%;
			background:@sapient-heat;
		}

		&.hidden {
			display:none;
		}
	}

	.apps-container ul {
		width:100%;
		max-width:333px;
		height:100%;
		padding:0;
		margin:0;
		overflow:hidden;
		overflow-y:auto;
		position: relative;
		top:-100%; // 0
		float: left;
		z-index:20;
		

		li {
			width:100%;
			height:22%;
			max-height:150px;
			padding:0;
			margin:0;
			list-style-type:none;
			background:@ice-white;
			position:relative;
			top:0;
			.transition(all 300ms ease);

			&:nth-of-type(3n-2){
				background:@shade-3;
			}

			&:nth-of-type(3n-1){
				background:@shade-6;
			}

			&:nth-of-type(3n){
				background:@shade-9;
			}

			&:hover {
				background:@ice-white;
				width:90%;
			}

			&.active {
				z-index:100;
				opacity:1 !important;
				background:@ice-white;

				&:hover {
					width:100%;
				}

				&.show-load {
					margin-left:-100px;
				}
			}
		}

		.app-load-btn {
			width:50px;
			height:50px;
			position:absolute;
			top:50%;
			left:25px;
			background:yellow;
		}

		.app-icon {
			width:33.333%;
			height:100%;
			float: left;

			img {
				width:50px;
				height:50px;
				background:@charcoal;
			}

			td {
				text-align:center;
			}
		}

		.title {
			width:66.666%;
			height:100%;
			float: left;

			td {
				text-align: left;
			}

			h2 {
				margin:0;
				font-size:23px;
				color:@charcoal;
			}
		}

		.load-bar {
			position:relative;
			left:102%;
			height:100%;
			width:100px;
			background:@sapient-heat;
		}

		table {
			width:100%;
			height:100%;

			td {
				width:100%;
				height:100%;
			}
		}

		&.sticky {
			overflow:hidden;
			z-index:0;
		}

		&.height-extra {
			height:120%;
		}

	}

	.back {
		width:100%;
		position:relative;
		top: 55%;
		opacity:1;
		left:-100%;
		z-index:0;

		.back-text {
			width: 100%;
			font-size: 35px;
			margin:0;
			color: @ice-white;
			overflow: hidden;
		}

		.load-bar {
			width:2px;
			height:0px; // 100px
			position:relative;
			left:25px;
			background:@ice-white;
		}

		.button-container {
			width:100%;
			background:@electric-blue;
			position:relative;
		}

		.button {
			width:50px;
			height:50px;
			position:relative;
			opacity:0; // 1

			border-radius:50%;
			border:2px solid @ice-white;
			border-bottom-color:transparent;
			border-left-color:transparent;
			
			color:@charcoal;

			.icon {
				font-size:40px;
				margin:0 auto;
				position:relative;
				left:-2px;
				top:5px;
			}
		}

		.notification-block {
			width:100px;
			height:100%;
			color:@ice-white;
			background:green;
			position:absolute;
		}

		&.reveal {
			left:0;
		}
	}

	#app-summary {
		width:100%;
		height:100%;
	}

	.summary-container {
		width:100%;
		height:auto;
		position:absolute;
		top:0;
		padding:5%;
		color:@aluminum-gray;
		z-index:0;
		opacity:0;
		font-size:18px;
		overflow:hidden;

		.summary {
			width:100%;
			height:100%;
			overflow:hidden;
		}

		p {
			margin:0;
			padding:0;
		}
	}

	.devices-container {
		width:100%;
		height:100px;
		position:absolute;
		bottom:0;
		z-index:0;
		opacity:0;

		.device {
			width:25%;
			height:100%;
			background:@charcoal;
			float: left;

			&.Android {
				background:url('../_img/devices/android_fill.png') 55% 50% no-repeat;
				background-size:55%;
			}
			&.iPad {
				background:url('../_img/devices/ipad_fill.png') 15% 45% no-repeat;
				background-size:85%;
			}
			&.iPhone {
				background:url('../_img/devices/iphone_fill.png') 55% 50% no-repeat;
				background-size:55%;
			}
			&.Kiosk {
				background:url('../_img/devices/kiosk_fill.png') 45% 45% no-repeat;
				background-size:80%;
			}

			.notification {
				width:100%;
				height:auto;
				text-align:center;
				color:@aluminum-gray;
				position:relative;
				top:-20%;
				opacity:0;
				.transition(all 300ms ease);
			}

			&:hover .notification {
				opacity:1;
			}
		}
	}

}






/*Landscape Mode*/

@media screen and (max-device-width: 480px) 
{ 

	#apps {
		.apps-container {
			width:100%;
			border-right:none;
		}

		li {
			max-height:125px !important;
		}

		.back .button-container {

			.load-bar {
				display:none;
			}

			margin-top:-18%;
		}

		.devices-container {
			.notification {
				opacity:1 !important;
				top:-30% !important;
			}
		}
	}

}
/* Portrait Mode */

@media screen and (max-device-width: 320px) 
{ 

}