#apps .levis .app-icon {
  width: 40%;
  background: url('../_img/icon/levis.png') 0px 50% no-repeat;
  background-size: 100% !important;
}
#apps .levis:hover .app-icon {
  background: url('../_img/icon/blue_levis.png') 0px 50% no-repeat;
}
#apps .bbb .app-icon {
  background: url('../_img/icon/bbb.png') 0px 50% no-repeat;
  background-size: 100% !important;
}
#apps .bbb:hover .app-icon {
  background: url('../_img/icon/blue_bbb.png') 0px 50% no-repeat;
}
#apps .hartford .app-icon {
  width: 38%;
  background: url('../_img/icon/hartford.png') 0px 50% no-repeat;
  background-size: 100% !important;
}
#apps .hartford:hover .app-icon {
  background: url('../_img/icon/blue_hartford.png') 0px 50% no-repeat;
}
#apps .ganassi .app-icon {
  background: url('../_img/icon/ganassi.png') 0px 50% no-repeat;
  background-size: 100% !important;
}
#apps .ganassi:hover .app-icon {
  background: url('../_img/icon/blue_ganassi.png') 0px 50% no-repeat;
}
